.idea
node_modules
dist
build
/apps/**
/packages/**
!/apps/thunder
!/apps/thunder/**
!/packages/composables
!/packages/composables/**
!/packages/pagebuilder
!/packages/pagebuilder/**
!/packages/magento
!/packages/magento/**
!/packages/types
!/packages/types/**
!/apps/client
!/apps/client/**