.idea
node_modules
dist
build
/apps/**
/packages/**
!/apps/thunder
!/apps/thunder/**
!/packages/composables
!/packages/composables/**
!/packages/magento
!/packages/magento/**
!/packages/types
!/packages/types/**
!/packages/shop-mock
!/packages/shop-mock/**
