{
  "root": true,
  "extends": ["@nuxtjs/eslint-config-typescript", "plugin:prettier/recommended"],
  "rules": {
    "vue/multi-word-component-names": "off",
    "vue/no-multiple-template-root": "off",
    "no-redeclare": "off",
    "import/named": "off",
    "vue/no-v-html": 0,
    "semi": [2, "always"],
    "arrow-parens": [2, "always"],
    "space-before-function-paren": "off"
  }
}
