{
  "root": true,
  "extends": ["@nuxtjs/eslint-config-typescript", "plugin:prettier/recommended"],
  "overrides": [
    {
      "files": [
        "*.ts"
      ],
      "processor": "@graphql-eslint/graphql"
    },
    {
      "files": [
        "*.gql"
      ],
      "parser": "@graphql-eslint/eslint-plugin",
      "plugins": [
        "@graphql-eslint"
      ],
      "rules": {
        "@graphql-eslint/known-type-names": "error"
      }
    }
  ],
  "rules": {
    "vue/multi-word-component-names": "off",
    "vue/no-multiple-template-root": "off",
    "no-redeclare": "off",
    "import/named": "off",
    "vue/no-v-html": 0,
    "semi": [2, "always"],
    "arrow-parens": [2, "always"],
    "space-before-function-paren": "off"
  }
}